################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

# Visual Studio 2019 cache/options directory
.vs/

# Add this line
out/